<?xml version="1.0"?>
<ruleset name="PDF Watermark Coding Standard">
    <description>PDF Watermark Coding Standard</description>

    <!-- Display progress -->
    <arg value="p"/>
    <!-- Use colors in output -->
    <arg name="colors"/>
    <!-- Show sniff codes in all reports -->
    <arg value="s"/>

    <!-- Use PSR-12 as a base -->
    <rule ref="PSR12"/>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>
    <file>examples</file>

    <!-- Exclude vendor directory -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
